

uni-page-body {
  height: 100%;
}

.uni-textarea-placeholder,
.uni-easyinput__content-textarea {
  font-size: inherit !important;
}

.uni-easyinput__content,
.uni-easyinput__content-textarea {
  height: inherit !important;
  box-sizing: border-box !important;
}
